{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<div class="row text-center py-5">
    <div class="col-md-12">
        <h1 class="display-4 fw-bold">Bienvenido a <span class="text-primary">GymPro</span></h1>
        <p class="lead text-secondary">Gestión inteligente para atletas y administradores.</p>
        
        {% if not user.is_authenticated %}
            <div class="mt-4">
                <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg px-5">
                    <i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Registrarse
                </a>

                <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg px-5">
                    <i class="fa-regular fa-user me-2"></i>Iniciar Sesión
                </a>
            </div>
        {% else %}
            <div class="row mt-5">
                <!-- Tarjeta de ejemplo -->
                <div class="col-md-4">
                    <div class="card p-4">
                        <i class="fas fa-calendar-check fa-3x mb-3 text-primary"></i>
                        <h3>Mi Membresía</h3>
                        <p>Estado: <span class="badge bg-success">Activa</span></p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}